<ul>
  <li class="top_menu"><a href="">Каталог</a></li>
  <li class="top_menu"><a href="">Рейтинг</a></li>
  <li class="top_menu"><a href="">Должники</a></li>
  <li class="top_menu"><a href="">Их разыскивает милиция</a></li>
</ul>
